table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

.button-container {
    text-align: center;
    margin-top: 50px;
}

.title {
    text-align: center;
    border: 5px solid #2dc42d;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}


.bodyStyle {
    background-color: #d8ffd8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}